<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="../../css/carritoDeCompras.css">
    <main>
        <div class="shop">
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img class="producto" src="https://previews.123rf.com/images/setory/setory1901/setory190100049/126340532-icono-de-fertilizante-vectorial-para-centro-de-jardiner%C3%ADa-de-productos-de-dise%C3%B1o-y-jardiner%C3%ADa.jpg" alt="Fertilizante">
                                <p>Fertilizante</p>
                            </div>
                        </td>
                        <td>$20.00</td>
                        <td>
                            <input type="number" value="1" min="1">
                        </td>
                        <td>
                            <button class="btn-delete">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img class="producto" src="https://w7.pngwing.com/pngs/684/649/png-transparent-herbicide-glyphosate-weed-control-lawn-killer-price-root-pest-control-lawn.png" alt="Herbicida">
                                <p>Herbicida</p>
                            </div>
                        </td>
                        <td>$30.00</td>
                        <td>
                            <input type="number" value="2" min="1">
                        </td>
                        <td>
                            <button class="btn-delete">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="cart-summary">
                <h2>Resumen del Carrito</h2>
                <div class="total">
                    <span>Total:</span>
                    <span>$50.00</span>
                </div>
                <div class="checkout">
                    <button class="btn-checkout">Realizar Compra</button>
                </div>
            </div>
        </div>   
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>