<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        
        <form action="/productos/crear" method="post" enctype="multipart/form-data">
            
            <div class="div-form-create">
                <h2>NUEVO PRODUCTO</h2>
                <div>
                    <label for="name">Nombre</label>
                    <input type="text" placeholder="Introduzca el nombre del producto" name="name" id="name" value="" required>
                </div>
                <div>
                    <label for="description">Descripcion</label>
                    <input type="text" placeholder="Introduzca una descripcion del producto" name="description" id="description" value="" required>
                </div>
                <div>
                    <label for="category">Categoria</label>
                    <select name="category" id="category" required>
                        <option value="">Selecciona una categoría</option>
                        <option value="1">Insecticida</option>
                        <option value="2">Herbicida</option>
                        <option value="3">Pesticida</option>
                        <option value="4">Solucion</option>
                    </select>
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input type="number" placeholder="Introduzca el precio" name="price" id="price" required value="">
                </div>
                <div>
                    <label for="stock">Stock</label>
                    <input type="number" placeholder="Introduzca el stock" name="stock" id="stock" required value="">
                </div>
                <div>
                    <label for="productImage">Seleccionar imagen:</label>
                    <input type="file" id="productImage" name="productImage" accept="image/*" required>
                </div>
                <div class="div-button-submit">
                    <button type="submit" class="btn-new-product">GUARDAR</button>
                </div>
            </div>
        </form> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>

  