<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
    <main>
        <section class="articulos-principales">
            <div class="articulo-item">
                <img src="images/abono-organico.jpg" alt="">
                <a href="/details">Abono orgánico para hortalizas</a>
                <div class="articulo-options">
                    <a href="/details"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="/edit"><i class="fa-solid fa-square-pen"></i></a>
                </div>
            </div>
            <div class="articulo-item">
                <img src="images/fertilizante.jpg" alt="">
                <a href="">Fertilizante liquido</a>
                <div class="articulo-options">
                    <a href="/details"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="/edit"><i class="fa-solid fa-square-pen"></i></a>
                </div>
            </div>
            <div class="articulo-item">
                <img src="images/herbicida-atrina.jpg" alt="">
                <a href="">Herbicida de origen natural</a>
                <div class="articulo-options">
                    <a href="/details"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="/edit"><i class="fa-solid fa-square-pen"></i></a>
                </div>
            </div>
            <div class="articulo-item">
                <img src="images/insecticida-organico.jpg" alt="">
                <a href="">Insecticida Orgánico</a>
                <div class="articulo-options">
                    <a href="/details"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="/edit"><i class="fa-solid fa-square-pen"></i></i></a>
                </div>
            </div>
            <div class="articulo-item">
                <img src="images/solucion-para-fertilizantes.jpg" alt="">
                <a href="">Cinnacar Insecticida Orgánico</a>
                <div class="articulo-options">
                    <a href="/details"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="/edit"><i class="fa-solid fa-square-pen"></i></i></a>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>