l<!DOCTYPE html>
<html>
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"   rel="stylesheet" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body>
  <div class="login-container">
    <h1>Bienvenidos a Purum</h1>
    <form>
      <label for="username"><i class="fa-regular fa-address-card" style="color: #429f28;"></i> Usuario:</label>
      <input type="text" id="username" name="username" placeholder="Tu usuario" required>

      <label for="password"><i class="fa-regular fa-eye-slash" style="color: #429f28;"></i></i> Contraseña: </label>
      <input type="password" id="password" name="password" placeholder="Tu contraseña" required>

      <label for="remember">Recordarme <input type="checkbox" id="remember" name="remember"></label>

      <a href="/">Iniciar sesión</a>
    </form>
    <br>
    <a href="#">¿Olvidaste tu contraseña?</a>
  </div>
</body>
</html>
