/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.team-member {
  font-size: 1.1rem;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centra el elemento horizontalmente */
  padding: 20px;
  max-width: 800px; /* Limita el ancho máximo del elemento */
}

h2 {
  color: #333;
}

.team-member p {
  color: #666;
}

/* Estilos para el encabezado y el pie de página */
header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
footer p{
  color: #000;
}

/* Estilos para enlaces */
a {
  color: #009688;
  text-decoration: none;
}

a:hover {
  text-decoration: none; /* Elimina el subrayado al hacer hover */
}

.team-member img {
  display: block;
  max-width: 100%; /* Hace que la imagen sea receptiva */
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .team-member {
    font-size: 1rem;
  }
}