/* Estilo para los artículos principales */
.articulos-principales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.articulo-item {
    position: relative;
    overflow: hidden;
    margin: 20px;
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.articulo-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.articulo-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.articulo-item .info {
    padding: 20px;
    text-align: center;
}

.articulo-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.articulo-item p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}

.articulo-item a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.articulo-item a:hover {
    color: #cc3300;
}

.articulo-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.articulo-options a {
    margin: 5px;
    color: #666;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.articulo-options a:hover {
    color: #333;
}

@media (max-width: 768px) {
    .articulo-item {
        width: calc(50% - 20px); /* Calcula el ancho para dos columnas y espacio entre ellas */
    }
}

@media (max-width: 576px) {
    .articulo-item {
        width: calc(100% - 20px); /* Ancho completo sin espacio entre columnas */
    }
}
