
/* Estilos para el carrito de compras */

.shop {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid var(--verde);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cart-summary {
  text-align: center;
}

.shop table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding: 0 10px;
}

.shop table th,
.shop table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.shop table th {
  background-color: #f2f2f2;
}

.btn-delete {
  background-color: var(--verde);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.producto {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.product-info {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .shop {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .shop {
    padding: 10px;
  }

  .shop table th,
  .shop table td {
    padding: 5px;
  }

  .btn-delete {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}