.div-form-create {
    border: 1px solid var(--verde);
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 400px;
    margin: 10px auto; /* Centra el formulario horizontalmente */
}

.div-form-create div {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.div-form-create h2, .div-button-submit {
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  
.btn-new-product {
    background-color: var(--verde);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 720px) {
    .div-form-create {
        width: 80%; /* Ajusta el ancho del formulario al 80% del contenedor principal */
    }
}