/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    /* Limita el ancho máximo del contenedor */
}

/* Estilos para la sección de productos */
.productos {
    margin: 20px auto;
    padding: 20px;
}

.div_title {
    margin-bottom: 20px;
}

.div_title h1 {
    font-size: 24px;
    color: #333;
}

.div-products {
    overflow-x: auto;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #009639;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para los botones de acciones */
.product_acciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.productacc {
    background-color: #009639;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.productacc:hover {
    background-color: #007932;
}

.btn-delete-product {
    background-color: #e74c3c;
}

/* Estilos para la imagen de producto */
.product-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    table {
        font-size: 14px;
    }

    .div-products {
        overflow-x: auto;
    }
}

@media screen and (max-width: 576px) {
    th,
    td {
        font-size: 12px;
    }

    .product-image {
        width: 40px;
    }
}