.product-page {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--verde);
    border-radius: 10px; /* Aumenta el radio de borde para un aspecto más suave */
    text-align: center;
}

h1 {
    color: #333;
}

img {
    max-width: 100%; /* Hace que la imagen sea completamente receptiva */
    height: auto;
    margin-bottom: 20px;
}

.product-info {
    margin-bottom: 20px;
}

button {
    background-color: var(--verde);
    color: #fff;
    padding: 10px 20px; /* Aumenta el espacio alrededor del texto del botón */
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Añade bordes redondeados al botón */
}

button:hover {
    background-color: #2c823f; /* Cambia el color de fondo al pasar el ratón */
}