/* Estilos para la sección de productos recientes */

.recientes {
    margin-top: 40px;
}

.recientes h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.recientes-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reciente-item {
    width: calc(33.33% - 40px);
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
}

.reciente-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.reciente-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.reciente-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.reciente-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}
a {
    font-weight: bold;
    text-decoration: none; /* Elimina el subrayado */
    color: var(--black);
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
}

 a:hover {
    color: var(--verde);
    text-decoration: none; /* Asegura que el subrayado no aparezca al hacer hover */
}

@media screen and (max-width: 992px) {
    .reciente-item {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 576px) {
    .reciente-item {
        width: calc(100% - 40px);
    }
}