/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centra el elemento horizontalmente */
  padding: 40px;
  max-width: 600px; /* Limita el ancho máximo del elemento */
}

.login-item {
  margin-bottom: 20px;
}

.login-item label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] { /* Ajuste para el tipo de input email */
  width: calc(100% - 24px); /* Resta el ancho del padding y el borde */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus,
.input-group input[type="email"]:focus { /* Ajuste para el tipo de input email */
  border-color: #009639;
}

.login-item input[type="text"],
.login-item input[type="password"],
.login-item input[type="email"] { /* Ajuste para el tipo de input email */
  width: 100%; /* Ajusta el ancho al 100% */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.login-item input[type="text"]:focus,
.login-item input[type="password"]:focus,
.login-item input[type="email"]:focus { /* Ajuste para el tipo de input email */
  border-color: #009600;
}

.login-item input[type="checkbox"] {
  margin-right: 5px;
}

.login-item button {
  background-color: #089e35ac;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-item button:hover {
  background-color: #007932e7;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-validationError {
  font-size: 11px;
  display: block;
  color: rgb(255, 0, 0);
  border: 0px;
  padding: 5%;
}

/* Estilos para enlaces */
a {
  color: #009641be;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para campos con errores */
.input-error {
  border: 1px solid red;
}

/* Estilos para campos válidos */
.is-valid {
  background-color: #43a63680; /* Color de fondo para campos válidos */
}

/* Estilos para campos inválidos */
.is-invalid {
  background-color: #e92636; /* Color de fondo para campos inválidos */
}

.alert-warning {
  color: #be0e1c;
  background-color: #f8d7da;
  text-align: center;
  border-radius: 10px;
}
.input-group {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.input-group .input-icon {
  margin-right: 10px; /* Espacio entre el icono y el input */
}

.input-group input[type="email"] {
  width: calc(100% - 44px); /* Resta el ancho del icono y el padding */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .login-container {
    padding: 30px;
  }

  .login-item input[type="text"],
  .login-item input[type="password"],
  .login-item input[type="email"] { /* Ajuste para el tipo de input email */
    padding: 10px;
    font-size: 14px;
  }

  .login-item button {
    background-color: #089e35ac;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
    /* padding: 10px 16px;
    font-size: 14px; */
  }
}

@media screen and (max-width: 576px) {
  .login-item button {
    width: 100%;
  }
}