<!DOCTYPE html>
<html lang="es">
<%- include("partials/head")  %>
<link rel="stylesheet" href="/css/about.css">
    

<body>
<%- include("partials/header") %>

  <h1>Equipo</h1>

  <div class="team-member">
    <img src="/images/developers/profile Matias.jpg" alt="Foto de Matias">
    <h2>Matias Juan Jose Perez Cisneros - Front End Developer</h2>
    <p>
      Mati es la mente creativa detrás del proyecto. Con una sólida formación en diseño y una pasión por la sostenibilidad, se encarga de dar forma a la visión del negocio y garantizar que todos los aspectos de la empresa reflejen los valores ecológicos y la estética fresca y verde que desean transmitir.
    </p>
  </div>

  <div class="team-member">
    <img src="/images/developers/profile Lore.jpg" alt="Foto de Lorena">
    <h2>Lorena Gomez - Back End Developer</h2>
    <p>
      Lorena es nuestra experta en el lado técnico del proyecto. Con una amplia experiencia en desarrollo web, se encarga de diseñar y mantener la infraestructura del servidor, gestionar las bases de datos y garantizar que todo funcione sin problemas en el backend. Su dedicación y habilidades son fundamentales para el éxito del proyecto.
    </p>
  </div>

  <%- include("partials/footer") %>
</body>
</html>
