<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head")  %>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/css/404.css">

<body>
    <img src="/images/404 ERROR.jpg" alt="Error 404">
    
</body>

<%- include("partials/footer") %>

</html>