<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/landin.css">
<body>
    <main id="cruz">
        <div class="promo">
            <br>
            <h1>¿Estas listo para crecer fuerte?</h1>
            <br><br>
            <p>Purum te acompaña paso a paso</p>
            <br>
            <a href="http://localhost:3000/products">
                <button type="button">Empieza hoy</button>
            </a>
        </div>
        <video muted autoplay loop>
            <source src="/video/introfinal2.mp4"
            type="video/mp4">
        </video>
       <div class="capa"></div>
            
       
    </main>
</body>
</html>