:root {
    --gris-oscuro: #666;
    --verde: #39b54a;

    --black: #000;
    --white: #fff;

    --font-family: 'Roboto', sans-serif;
    --size-cuerpo: 12px;
    --size-titulares: 24px;
    --size-precios: 18px;
    --size-descuentos: 16px;
    --size-descripcion: 16px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-family);
}