:root {
    --gris-oscuro: #666;
    --verde: #39b54a;

    --black: #000;
    --white: #fff;

    --font-family: 'Roboto', sans-serif;
    --size-cuerpo: 12px;
    --size-titulares: 24px;
    --size-precios: 18px;
    --size-descuentos: 16px;
    --size-descripcion: 16px;
}

* {
    font-family: var(--font-family);
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
}
body {
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh; /* Agrega esto para asegurar que el cuerpo tenga al menos la altura de la ventana gráfica (viewport height) */
    margin: 0;
}

/*HEADER*/
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}
.img-logo {
    height: auto;
    width: 80px;
}

.burger-menu {
    align-items: center;
    display: flex;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 12px;
}


.menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
    color: var(--verde);
    text-decoration: none;
}



/*buscador*/
.search {
    align-items: center;
    display: flex;
    width: 80%;
}

.search .form-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.search .form-search input[type="text"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80%;
}

.search .form-search button {
    background-color: #39b54a;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

/*principales articulos*/




table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #39b54a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.producto{
    width: 75px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-right: 10px;
    border-radius: 50%; /* Aplica un borde redondeado a la imagen */
}


/*FOOTER*/
footer {
    background-color: #6af24f;
    width: 100%;  
}

.footer-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.footer-section-img img {
    width: 150px;
    height: 150px;
}
.footer-section-contact {
    display: flex;
    flex-direction: column;
}

.footer-section-socials {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 15px;
}
.footer-section-socials a{
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
}

.footer-section-socials a:hover{
    color: var(--white);
    font-size: 25px;
}
.socials,
.contact {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; /* Ajusta el margen según sea necesario */
    padding-right: 20px; /* Agrega padding a la derecha para separar de los párrafos */
    border-right: 1px solid #ccc; /* Línea divisoria entre la sección de redes y el contacto */
}

