.product-page {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--verde);
    border-radius: 1%;
    text-align: center;
}

h1 {
    color: #333;
}

img {
    text-align: center;
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.product-info {
    margin-bottom: 20px;
}

button {
    background-color: var(--verde);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--verde);
}

