<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="top-header">
        <div class="logo">
            <a href="/products">
            <img src="/images/purumredondo.png" alt="Logo" class="img-logo">
        </a>
        </div>

        <div class="burger-menu">
            <nav class="menu" id="menu">
                <ul>
                    <!-- <li><a href="/">INICIO</a></li> -->
                    <li><a href="/products">PRODUCTOS</a></li>
                    <li><a href="/about">NOSOTROS</a></li>
                    <!-- <li><a href="#">CONTACTO</a></li> -->
                    <% if (user) { %>
                        <li><a href="/users/profile/<%= user.username %>"><%= user.user_fullName %></a></li>
                        <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <% } else { %>
                        <li>
                            <a href="/users/login" class="link"><i class="fa-solid fa-right-to-bracket"></i></a>
                        </li>
                        <li>
                            <a href="/users/register" class="link"><i class="fa-solid fa-address-card"></i></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
    
</header>