<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PURUM AgroInsumos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                
                <img src="static/images/purumredondo.png" alt="Logo" class="img-logo">
                <a href="/login">Iniciar Sesion</a>
                <a href="/register">Registrarme</a>

            </div>

            <div class="burger-menu">
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" id="menu-icon">-</i></label>
                <nav id="menu">
                    <ul>
                        <li><a href="#">INICIO</a></li>
                        <li><a href="#">SOBRE NOSOTROS</a></li>
                        <li><a href="#">PRODUCTOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                    <ul>
                        <li><a href="" class="link">Creá tu cuenta</a></li>
                        <li><a href="" class="link">Ingresá</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="search">
            <form action="#" method="GET" class="form-search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div> 
    </header>
</body>
</html>