<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PURUM AgroInsumos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="static/images/logo.png" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div> 
                </div>
        <nav>
            <ul>
                <li><a href="#" class="link">INICIO</a></li>
                <li><a href="#" class="link">SOBRE NOSOTROS</a></li>
                <li><a href="#" class="link">PRODUCTOS</a></li>
                <li><a href="#" class="link">CONTACTO</a></li>
            </ul>
            <ul>
                <li><a href="" class="link">Creá tu cuenta</i></a></li>
                <li><a href="" class="link">Ingresá</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
</body>
</html>