<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PURUM AgroInsumos</title>
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/artPrincipales.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="static/images/purumredondo.png" alt="Logo" class="img-logo">
            </div>

            <div class="burger-menu">
                <nav class="menu" id="menu">
                    <ul>
                        <li><a href="/">INICIO</a></li>
                        <li><a href="#">PRODUCTOS</a></li>
                        <li><a href="/">NOSOTROS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                        <li><a href="/login" class="link"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="/register" class="link"><i class="fa-solid fa-address-card"></i></a></li>
                        <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="search">
            <form action="#" method="GET" class="form-search">
                <input type="text" placeholder="Buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>
    <main>
        <section class="articulos-principales">
            <div class="articulo-item">
                <img src="static/images/abono-organico.jpg" alt="">
                <a href="/details">Abono orgánico para hortalizas</a>
            </div>
            <div class="articulo-item">
                <img src="static/images/fertilizante.jpg" alt="">
                <a href="">Fertilizante liquido</a>
            </div>
            <div class="articulo-item">
                <img src="static/images/herbicida-atrina.jpg" alt="">
                <a href="">Herbicida de origen natural</a>
            </div>
            <div class="articulo-item">
                <img src="static/images/insecticida-organico.jpg" alt="">
                <a href="">Insecticida Orgánico</a>
            </div>
            <div class="articulo-item">
                <img src="static/images/solucion-para-fertilizantes.jpg" alt="">
                <a href="">Cinnacar Insecticida Orgánico</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section-img">
                <img src="static/images/purumredondo.png" alt="">
            </div>

            <div class="footer-section-info">
                <p>Te ofrecemos una amplia gama de agroinsumos para profesionales de la agricultura 
                    y entusiastas del cultivo, ecoligia y de la auto-sustentabilidad.</p>
            </div>
                
            <div class="footer-section-contact">
                <span><i class="fas fa-phone"></i> &nbsp;123-456-789</span>
                <span><i class="fas fa-envelope"></i> &nbsp;Purum@gmail.com</span>
            </div>
            
            <div class="footer-section-socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>