<!DOCTYPE html>
<html lang="es">
    <%- include('../head.ejs') %>
    <body>
<body>
    <%- include('../header.ejs') %>
    <main>
        <div class="product-page">
            <h1>Abono orgánico para hortalizas</h1>
            <img src="images/Abono-Organico-para-Hortalizas.jpg" alt="abono">
    
            <div class="product-details">
                <div class="product-images">
                <!-- imágenes del producto -->
                </div>
                <div class="product-info">
                    <h2>Descripción del Producto</h2>
                    <p>Lombricompost recubierto aglutina para retener microorganismos del suelo</p>
                    <h2>Precio</h2>
                    <p>$1500.00</p>
                    <!-- Otras informaciones como disponibilidad, reseñas, personalización, etc. -->
                </div>
            </div>
    
            <button onclick="agregarAlCarrito()" class="cart">Agregar al Carrito</button>
        </div>
        <!-- Puedes incluir productos relacionados aquí -->
        <div class="related-products">
            <h2>Productos Relacionados</h2>
            <!-- Listado de productos relacionados -->
        <script>
            function agregarAlCarrito() {
            alert("¡Producto agregado al carrito")}
        </script>
    </main>
    
    <%- include('../footer.ejs') %>
</body>
</html>
